body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0; /* Light gray background to show contrast */
}

.nav-container {
    display: flex;
    justify-content: center;
    background-color: #333;
    position: fixed;
    width: 100%;
}

.topnav {
    max-width: 1400px; /* Adjust this value to your preferred width */
    width: 100%;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.topnav .label {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
}

.topnav .nav-items {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 14px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* .topnav a.active {
    background-color: #04AA6D;
    color: white;
} */


.social-media{
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .social-media:hover {
    opacity: 0.7;
  }